/* ESTILOS PARA EL LADO DERECHO DE LA PAGINA*/

/*Estilos generales*/
body > .right-container {
    width: 72%;
    height: max-content;
    background: linear-gradient(90deg, rgb(20, 104, 143) 0%, rgb(91, 21, 182) 100%);
    position: relative;
    left: 28%;
    padding: 20px;
}

/*Estilos para main*/
.right-container > .main-container {
    width: 98%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Estilos para las secciones (4)*/
.section-info {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.section-info > h2 {
    font-size: 2rem;
    color: rgb(127, 218, 224);
    border-bottom: solid 3px white;
    padding-bottom: 0.5rem;
}

.section-profile > p {
    font-size: 1.5rem;
    padding: 0.2rem;
    color: rgb(239, 238, 243);
    margin-top: 0.5rem;
    text-align: justify;
}



#section-projects .container-projects .container-cards {
    display: flex;
    justify-content: space-between; 
    gap: 20px;  
    flex-wrap: wrap;  
    margin: 20px;
    background-color: rgb(0, 174, 255);
    border-radius: 10px;
}

.container-projects .container-cards .container-img-card img {
    width: 15%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

.container-projects .container-cards .container-description-card h3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(6, 72, 126);
    margin-top: 10px;
}

.card-projects .container-description-card p {
    font-size: 1rem;
    color: rgb(248, 245, 245);
    margin-top: 10px;
}

.card-projects .container-description-card {
    margin-left: 150px;
    margin-top: -120px;
}
.card-projects .boton-proyecto-uno button {
    background-color: #c436ba;
    color: rgb(203, 140, 223);
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
    padding-bottom: -12px 0;
}

.card-projects .boton-proyecto-uno button:hover {
    background-color: #0e7696;
    color: rgb(209, 38, 209);
    transform: scale(1.1);
}



/*Estilos para las referencias*/
.section-references .card-references {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card-reference-uno, .card-reference-dos, .card-reference-tres {
    width: 250px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-reference-uno p, .card-reference-dos p, .card-reference-tres p {
    font-size: 1rem;
    color: rgb(91, 21, 182);
    margin-bottom: 10px;
}

.card-reference-uno span, .card-reference-dos span, .card-reference-tres span {
    font-size: 1rem;
    color: rgb(18, 3, 39);
    font-weight: bold;
}

/*Estilo para las card de experiencia*/
.container-experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Estilos para las imágenes de la sección de experiencia */
.section-experience .container-experience .card-experience img {
    width: 80px;  
    height: 80px;
    object-fit: contain; 
    border-radius: 50%;  
    box-shadow: 0 4px 6px rgba(12, 8, 8, 0.2); 
    margin-bottom: 15px;
}

progress {
    width: 100%;
    height: 15px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: rgb(209, 38, 209);
}

